<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Bookstore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header role="heading">
        <h1 class="text-center">Buy a Book</h1>
    </header>
    <main role="main" class="pb-3">
        <div class="text-center m-2">
            <vc:navigation-menu></vc:navigation-menu>
        </div>
        <div class="container">
                @RenderBody()
        </div>
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Bookstore
        </div>
    </footer>
</body>
</html>
