@{
    ViewBag.Title = "Home Page";
}

@model BookListViewModel

<!--For my extra bootstrap, I added the table class, made the table dark with the table-dark class, and changed the header back to light with the thead-light class-->

<div class="text-center">
    <table class="table table-dark">
        <thead class="thead-light">
            <tr>
                <th>Book ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>ISBN</th>
                <th>Classification</th>
                <th>Category</th>
                <th>Price</th>
                <th># of Pages</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in Model.Books)
            {
                <partial name="BookSummary" model="b"/>
            }
        </tbody>
    </table>

    <div page-model="@Model.PagingInfo" page-action="Index" 
         page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" 
         page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
         class="btn-group pull-right m-1"></div>
</div>
